body {
  font-family: "Oswald", sans-serif;
  background-color: #011627;
  color: #f6f7f8;
}
p {
  font-family: "Raleway", sans-serif;
}
.page-links {
  background-color: #03213a;
}
.page-links a {
  color: #f6f7f8;
  text-decoration: none;
}
.page-links a:hover {
  color: #ff3366;
}
main h1 {
  color: #ff3366;
}
h2 {
  color: #ff3366;
}
h2 a {
  color: #ff3366;
  text-decoration: none;
}
h2 a:hover {
  color: #2ec4b6;
}
.hashtag a {
  color: #2ec4b6;
  text-decoration: none;
}
.hashtag a:hover {
  color: #ff3366;
}
.item {
  background-color: #052e50;
}
.item a {
  color: #f6f7f8;
  text-decoration: none;
}
.item a:hover {
  color: #ff3366;
}
