header {
    border-width: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-rows: 100px auto;
    max-width: 1400px;
    width: 100%;
    margin: 5px auto;
}

.items {
    display: flex;
    justify-content: center;
    width: 1200;
    flex-wrap: wrap;
    list-style: none;
}

.item {
    padding: 5px;
    margin: 5px;
}

.item a {
    text-decoration: none;
}
