<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ben Banneker</title>
    <link rel="stylesheet" href="/css/review-layout.css"/>
    <link rel="stylesheet" href="/css/review-style.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<div class="container">
    <header>
        <h1 th:text="${ben.category.categoryName}">Ben Historical Figure</h1>
        <nav class="page-links">
            <ul>
                <li><a th:href="@{'/'}">Home</a></li>
                <li th:each="category:${categories}">
                    <a th:text="${category.categoryName}"
                       th:href="@{'/categories/'+${category.categoryName}}">Actors</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1 th:text="${ben.name}">Benjamin Banneker</h1>
            <h2 th:text="${ben.profession}">Author</h2>
            <h3 th:text="${ben.birthDate}">born on November 9, 1731</h3>
            <ul class="hashtags">
                <li class="hashtag" th:each="hashtag:${ben.hashtags}">
                    <a th:text="'#'+${hashtag.hashtag}" th:href="@{'/tags/'+${hashtag.hashtag}}"></a>
                </li>
            </ul>
        </section>
        <p th:text="${ben.bio}" class="bio">
            Benjamin Banneker was a free African-American almanac author,
            surveyor, naturalist, and farmer. Born in Baltimore County, Maryland,
            to a free African-American woman and a former slave, Banneker had
            little formal education and was largely self-taught.
        </p>
        <img
                th:src="@{${ben.imageName}}"
                alt="Ben Banneker"
                class="ben-image"
        />
        <h2 th:text="${ben.reviewScore}" class="review-score">5 out of 5</h2>
        <p th:text="${ben.reviewText}" class="review">
            With the ability to teach himself with no next to no education is
            nothing short of remarkable. Through an extensive immersion into
            astronomy. Bannaker was able to make calculations that predicted
            eclipses and planetary conjunctions. For a man of color, let alone
            slave ancestry to acquire such ability and execute it makes him a
            highly touted Ben of legend.
        </p>
    </main>
    <section>
        <form action="/bens/tags/add" method="POST" class="new-hashtag-form">
            <input type="hidden" th:value="${ben.id}" name="id" id="new-ben__ben-id-input">
            <label for="new-hashtag__hashtag-input" class="form__label">Add Hashtag</label>
            <input type="text" name="hashtag" id="new-hashtag__hashtag-input">
            <button type="submit">Submit</button>
        </form>

    </section>
</div>
</body>
</html>
